[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
pytextrank = "*"
numpy = "*"
spacytextblob = "*"
tweepy = "==3.10.0"
asyncpg = "*"
base58 = "*"
phonenumbers = "*"
protobuf = "*"
ulid2 = "*"
aiohttp = "*"
termcolor = "*"
prometheus-async = "*"
aioprocessing = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.en-core-web-md]
file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl"
